.header__search {
    position: absolute;
    top: calc(0px + 10px);
    bottom: calc(0px + 10px);
    right: 126px;
    display: flex;
    align-items: center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    animation: animateInputFadeIn ease 0.3s;

    input {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        padding: 0 26px;
        color: var(--color-primary);
        font-weight: 700;
    }

    span {
        display: flex;
        position: absolute;
        color: #333;
        right: 16px;
        cursor: pointer;
    }
}

.search,
.search__result {
    width: 300px;
}

@keyframes animateInputFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
