.wrapper__form {
    display: flex;
    flex-wrap: wrap;
    width: var(--width-default);
    margin: 0 auto;
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #112142;
    margin-top: 60px;
    padding-bottom: 60px;
}

.banner {
    background-image: url('banner.jpg');
    background-repeat: no-repeat;
    height: 300px;
    display: flex;
    align-items: center;

    .banner__inner {
        width: 100%;
        text-align: center;
    }
}

.wrapper__form--btn-action {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex: 1;

    p {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .wrapper__form--btn-action-account {
        position: relative;
        display: flex;
        color: var(--color-white);
        width: 460px;
        margin-bottom: 15px;

        button {
            cursor: pointer;
            width: 100%;
            background-color: transparent;
            color: var(--color-white);
            padding: 14px 0;
            text-transform: uppercase;
            font-size: 1.3rem;
            font-weight: 700;
            letter-spacing: 2px;

            .wrapper__form--btn-action-icon {
                position: absolute;
                left: 20px;
                font-size: 2rem;
            }
        }
    }
}

.logged__block_col--left {
    padding: 20px;
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: #fff;
    color: #000;
    margin-right: 60px;

    img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
}

.logged__block_col--right {
    flex: 1;
}

.bg-fb {
    background-color: #4267b2;
}

.bg-google {
    background-color: #ff4343;
}

.bg-tw {
    background-color: #1da1f2;
}
