.toast {
    position: fixed;
    top: 20px;
    border-radius: 3px;
    z-index: 99;
    flex-grow: 1;
    animation: fadeIn ease 0.3s, fadeOut ease 1s;
}

.toast-success {
    background-color: #097936;
}

.toast-error {
    background-color: var(--color-primary);
}

.toast__message {
    width: 500px;
    height: 60px;
    padding: 20px 12px;
    font-size: 1.8rem;
    display: flex;
    align-items: center;

    .toast__message_icon {
        position: absolute;
        right: 10px;
        display: flex;
        align-items: center;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(calc(-100% - 20px));
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
