#content {
    display: flex;
    width: var(--width-default);
    margin: 0 auto;
}

.content-left {
    flex: 1;
    min-height: 1000px;
}

.content-right {
    width: 360px;
    min-height: 1000px;
}

.grid-row {
    row-gap: 20px;
}

.gridColumn3 {
    display: grid;
    grid-template-columns: 33.33333% 33.33333% 33.33333%;
}
